body {
  font-family: sans-serif; }
  body ::-moz-selection {
    background-color: rgba(30, 144, 255, 0.2); }
  body ::selection {
    background-color: rgba(30, 144, 255, 0.2); }

@media screen and (max-width: 992px) {
  header .center .header-bottom {
    width: 100%;
    right: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center; }
    header .center .header-bottom .header-bottom-width {
      width: 70vw; }
      header .center .header-bottom .header-bottom-width .progress {
        width: 40vw; } }

@media (max-width: 768px) {
  body .overlay .item {
    height: 22vw;
    top: 60%; }
  body .overlay .shadow ul {
    margin-top: 13vw; }
    body .overlay .shadow ul .string {
      width: 1.5vw;
      height: 0.26vw; }
    body .overlay .shadow ul h3 {
      font-size: 1.2vw; }
    body .overlay .shadow ul h1 {
      font-size: 1.4vw; }
  header .center .header-bottom .header-bottom-width {
    width: 90vw; }
    header .center .header-bottom .header-bottom-width .progress {
      width: 56vw; }
  header .center .content-wrapper {
    position: relative;
    margin-top: 50px; }
    header .center .content-wrapper .content .string {
      width: 3vw;
      height: 0.3vw; }
    header .center .content-wrapper .content h1 {
      font-size: 7vw; }
    header .center .content-wrapper .content h3 {
      font-size: 3vw; }
    header .center .content-wrapper .content h5 {
      font-size: 2vw;
      line-height: 2.5vw; }
    header .center .content-wrapper .content .bookmark {
      width: 6vw;
      height: 6vw;
      border-radius: 4vw; }
      header .center .content-wrapper .content .bookmark img {
        width: 3vw;
        height: 3vw; }
    header .center .content-wrapper .content .btn {
      font-size: 1.5vw;
      border-radius: 3vw; } }

@media screen and (max-width: 576px) {
  body .overlay .item {
    top: 45%;
    width: 30vw;
    height: 45vw;
    border-radius: 2vw; }
  body .overlay .shadow ul {
    margin-top: 30vw; }
    body .overlay .shadow ul .string {
      width: 3vw;
      height: 0.26vw; }
    body .overlay .shadow ul h3 {
      font-size: 2vw; }
    body .overlay .shadow ul h1 {
      font-size: 3vw; }
  header .center .header-bottom .header-bottom-width .slide-buttons .btn {
    width: 8vw;
    height: 5vw;
    border-radius: 1vw; }
    header .center .header-bottom .header-bottom-width .slide-buttons .btn img {
      width: 3vw;
      height: 4vw; }
  header .center .header-bottom .header-bottom-width .progress {
    display: none; }
  header .center .header-bottom .header-bottom-width .count {
    font-size: 5vw; }
    header .center .header-bottom .header-bottom-width .count:after {
      content: "/06"; }
  .ani-cover {
    -webkit-animation-name: ani-cover-sm !important;
    -moz-animation-name: ani-cover-sm !important;
      -o-animation-name: ani-cover-sm !important;
         animation-name: ani-cover-sm !important; }
  .r-30 {
    -webkit-animation-name: stage-1-sm !important;
    -moz-animation-name: stage-1-sm !important;
      -o-animation-name: stage-1-sm !important;
         animation-name: stage-1-sm !important; }
  .r-20 {
    -webkit-animation-name: stage-2-sm !important;
    -moz-animation-name: stage-2-sm !important;
      -o-animation-name: stage-2-sm !important;
         animation-name: stage-2-sm !important; }
  .r-10 {
    -webkit-animation-name: stage-3-sm !important;
    -moz-animation-name: stage-3-sm !important;
      -o-animation-name: stage-3-sm !important;
         animation-name: stage-3-sm !important; }
  .r-0 {
    -webkit-animation-name: stage-4-sm !important;
    -moz-animation-name: stage-4-sm !important;
      -o-animation-name: stage-4-sm !important;
         animation-name: stage-4-sm !important; } }

.time-bar {
  width: 100%;
  height: 0.4vw;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4); }

.time-bar-ani:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0%;
  width: 100%;
  height: 0.4vw;
  background-color: #dead5a;
  -webkit-animation-name: time-bar-ani;
  -moz-animation-name: time-bar-ani;
    -o-animation-name: time-bar-ani;
       animation-name: time-bar-ani;
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes time-bar-ani {
  0% {
    width: 0%; }
  75% {
    left: 0; }
  to {
    left: 100%;
    width: 100%; } }

@-moz-keyframes time-bar-ani {
  0% {
    width: 0%; }
  75% {
    left: 0; }
  to {
    left: 100%;
    width: 100%; } }

@-o-keyframes time-bar-ani {
  0% {
    width: 0%; }
  75% {
    left: 0; }
  to {
    left: 100%;
    width: 100%; } }

@keyframes time-bar-ani {
  0% {
    width: 0%; }
  75% {
    left: 0; }
  to {
    left: 100%;
    width: 100%; } }

.overlay {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; }
  .overlay .item.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; }
    .overlay .item.cover .shadow ul {
      visibility: hidden; }
  .overlay .item {
    position: absolute;
    width: 12vw;
    height: 18vw;
    top: -webkit-calc(55% - 4vw);
    top: -moz-calc(55% - 4vw);
    top: calc(55% - 4vw);
    border-radius: 1vw;
    box-shadow: 10px 10px 30px black;
    overflow: hidden; }
  .overlay .animate__fadeOutDown {
    -webkit-animation-duration: 555ms;
       -moz-animation-duration: 555ms;
         -o-animation-duration: 555ms;
            animation-duration: 555ms; }
  .overlay .animate__fadeInUp {
    -webkit-animation-duration: 333ms;
       -moz-animation-duration: 333ms;
         -o-animation-duration: 333ms;
            animation-duration: 333ms; }
  .overlay .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1vw;
    color: white; }
    .overlay .shadow ul {
      margin-top: 12vw; }
      .overlay .shadow ul .string {
        width: 1vw;
        height: 0.16vw;
        background-color: white; }
      .overlay .shadow ul h3 {
        font-size: 0.9vw; }
      .overlay .shadow ul h1 {
        font-size: 1.1vw; }
  .overlay .item-0 {
    background: url("../../images/c1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .overlay .item-1 {
    background: url("../../images/a1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .overlay .item-2 {
    background: url("../../images/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .overlay .item-3 {
    background: url("../../images/c1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .overlay .item-4 {
    background: url("../../images/d1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .overlay .item-5 {
    background: url("../../images/e1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

header {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  header .center {
    width: 90%;
    margin: 0 auto; }
  header .navbar {
    padding: 1vw; }
    header .navbar a {
      font-size: 1vw;
      padding: 1vw; }
  header .content.show {
    display: block; }
  header .content-wrapper {
    position: absolute;
    top: -webkit-calc(55% - 8.3vw);
    top: -moz-calc(55% - 8.3vw);
    top: calc(55% - 8.3vw); }
  header .content {
    display: none;
    color: white;
    margin-top: -4px; }
    header .content .string {
      margin-left: 1.5px;
      width: 2vw;
      height: 0.25vw;
      background-color: white; }
    header .content .h1 {
      font-size: 5vw;
      margin-left: -2px; }
    header .content .h3 {
      font-size: 2vw; }
    header .content .h5 {
      font-size: 1vw;
      line-height: 1.5vw;
      margin-left: 0.5px; }
    header .content h1 {
      font-size: 5vw;
      margin-left: -2px; }
    header .content h3 {
      font-size: 2vw; }
    header .content h5 {
      font-size: 1vw;
      line-height: 1.5vw;
      margin-left: 0.5px; }
    header .content .bookmark {
      background-color: #f0ad31;
      width: 3vw;
      height: 3vw;
      border-radius: 3vw;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
      margin-left: 0.5px; }
      header .content .bookmark img {
        width: 1.5vw;
        height: 1.5vw; }
    header .content .btn {
      position: relative;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      border-radius: 2vw;
      color: white;
      overflow: hidden;
      font-size: 1vw;
      border: 1px solid white;
      line-height: 2vw; }
      header .content .btn a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
      header .content .btn:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        -webkit-transition: 333ms ease all;
           -moz-transition: 333ms ease all;
             -o-transition: 333ms ease all;
                transition: 333ms ease all; }
      header .content .btn:hover:after {
        bottom: 0;
        background-color: #dead5a; }
  header .header-bottom {
    position: absolute;
    bottom: 1rem;
    right: 0.75rem; }
    header .header-bottom .header-bottom-width {
      width: 52.5vw; }
    header .header-bottom .slide-buttons .play-stop li.show {
      display: -webkit-flex;
      display: -moz-box;
      display: flex; }
    header .header-bottom .slide-buttons .play-stop li {
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
      display: none;
      margin: 0; }
    header .header-bottom .slide-buttons .btn {
      width: 4vw;
      height: 4vw;
      border: 1px solid white;
      border-radius: 4vw;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
      margin: 0 1vw; }
      header .header-bottom .slide-buttons .btn:hover {
        background-color: rgba(0, 0, 0, 0.4); }
      header .header-bottom .slide-buttons .btn img {
        width: 2vw;
        height: 2vw; }
    header .header-bottom .progress {
      height: 2px;
      width: 32vw; }
      header .header-bottom .progress .progress-bar {
        background-color: #dead5a; }
    header .header-bottom .count {
      color: white;
      font-size: 2vw; }

footer {
  height: 400px;
  margin-top: 200px; }

@-webkit-keyframes ani-cover {
  0% {
    right: 40%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@-moz-keyframes ani-cover {
  0% {
    right: 40%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@-o-keyframes ani-cover {
  0% {
    right: 40%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@keyframes ani-cover {
  0% {
    right: 40%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

.ani-cover {
  -webkit-animation-name: ani-cover;
  -moz-animation-name: ani-cover;
    -o-animation-name: ani-cover;
       animation-name: ani-cover;
  z-index: 1;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms;
  -webkit-animation-duration: 666ms;
     -moz-animation-duration: 666ms;
       -o-animation-duration: 666ms;
          animation-duration: 666ms;
  -webkit-animation-timing-function: ease-in;
     -moz-animation-timing-function: ease-in;
       -o-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.r-50 {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0;
  z-index: 0;
  border-radius: 0 !important; }
  .r-50 .shadow {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 1s ease-out all;
       -moz-transition: 1s ease-out all;
         -o-transition: 1s ease-out all;
            transition: 1s ease-out all; }

@-webkit-keyframes stage-1 {
  0% {
    right: 26%; }
  to {
    right: 40%; } }

@-moz-keyframes stage-1 {
  0% {
    right: 26%; }
  to {
    right: 40%; } }

@-o-keyframes stage-1 {
  0% {
    right: 26%; }
  to {
    right: 40%; } }

@keyframes stage-1 {
  0% {
    right: 26%; }
  to {
    right: 40%; } }

.r-30 {
  -webkit-animation-name: stage-1;
  -moz-animation-name: stage-1;
    -o-animation-name: stage-1;
       animation-name: stage-1;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms;
  -webkit-animation-duration: 999ms;
     -moz-animation-duration: 999ms;
       -o-animation-duration: 999ms;
          animation-duration: 999ms;
  z-index: 2;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes stage-2 {
  0% {
    right: 12%; }
  to {
    right: 26%; } }

@-moz-keyframes stage-2 {
  0% {
    right: 12%; }
  to {
    right: 26%; } }

@-o-keyframes stage-2 {
  0% {
    right: 12%; }
  to {
    right: 26%; } }

@keyframes stage-2 {
  0% {
    right: 12%; }
  to {
    right: 26%; } }

.r-20 {
  -webkit-animation-name: stage-2;
  -moz-animation-name: stage-2;
    -o-animation-name: stage-2;
       animation-name: stage-2;
  -webkit-animation-delay: 533ms;
     -moz-animation-delay: 533ms;
       -o-animation-delay: 533ms;
          animation-delay: 533ms;
  -webkit-animation-duration: 999ms;
     -moz-animation-duration: 999ms;
       -o-animation-duration: 999ms;
          animation-duration: 999ms;
  z-index: 3;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes stage-3 {
  0% {
    right: -2%; }
  to {
    right: 12%; } }

@-moz-keyframes stage-3 {
  0% {
    right: -2%; }
  to {
    right: 12%; } }

@-o-keyframes stage-3 {
  0% {
    right: -2%; }
  to {
    right: 12%; } }

@keyframes stage-3 {
  0% {
    right: -2%; }
  to {
    right: 12%; } }

.r-10 {
  -webkit-animation-name: stage-3;
  -moz-animation-name: stage-3;
    -o-animation-name: stage-3;
       animation-name: stage-3;
  -webkit-animation-delay: 733ms;
     -moz-animation-delay: 733ms;
       -o-animation-delay: 733ms;
          animation-delay: 733ms;
  -webkit-animation-duration: 999ms;
     -moz-animation-duration: 999ms;
       -o-animation-duration: 999ms;
          animation-duration: 999ms;
  z-index: 4;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes stage-4 {
  0% {
    right: -16%; }
  to {
    right: -2%; } }

@-moz-keyframes stage-4 {
  0% {
    right: -16%; }
  to {
    right: -2%; } }

@-o-keyframes stage-4 {
  0% {
    right: -16%; }
  to {
    right: -2%; } }

@keyframes stage-4 {
  0% {
    right: -16%; }
  to {
    right: -2%; } }

.r-0 {
  -webkit-animation-name: stage-4;
  -moz-animation-name: stage-4;
    -o-animation-name: stage-4;
       animation-name: stage-4;
  -webkit-animation-delay: 933ms;
     -moz-animation-delay: 933ms;
       -o-animation-delay: 933ms;
          animation-delay: 933ms;
  -webkit-animation-duration: 999ms;
     -moz-animation-duration: 999ms;
       -o-animation-duration: 999ms;
          animation-duration: 999ms;
  z-index: 5;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes ani-cover-sm {
  0% {
    right: 25%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@-moz-keyframes ani-cover-sm {
  0% {
    right: 25%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@-o-keyframes ani-cover-sm {
  0% {
    right: 25%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@keyframes ani-cover-sm {
  0% {
    right: 25%; }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0; } }

@-webkit-keyframes stage-1-sm {
  0% {
    right: -10%; }
  to {
    right: 25%; } }

@-moz-keyframes stage-1-sm {
  0% {
    right: -10%; }
  to {
    right: 25%; } }

@-o-keyframes stage-1-sm {
  0% {
    right: -10%; }
  to {
    right: 25%; } }

@keyframes stage-1-sm {
  0% {
    right: -10%; }
  to {
    right: 25%; } }

@-webkit-keyframes stage-2-sm {
  0% {
    right: -80%; }
  to {
    right: -10%; } }

@-moz-keyframes stage-2-sm {
  0% {
    right: -80%; }
  to {
    right: -10%; } }

@-o-keyframes stage-2-sm {
  0% {
    right: -80%; }
  to {
    right: -10%; } }

@keyframes stage-2-sm {
  0% {
    right: -80%; }
  to {
    right: -10%; } }

@-webkit-keyframes stage-3-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-moz-keyframes stage-3-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-o-keyframes stage-3-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@keyframes stage-3-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-webkit-keyframes stage-4-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-moz-keyframes stage-4-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-o-keyframes stage-4-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@keyframes stage-4-sm {
  0% {
    right: -60%; }
  to {
    right: -50%; } }

@-webkit-keyframes progress-1 {
  0% {
    width: 0; }
  to {
    width: 17%; } }

@-moz-keyframes progress-1 {
  0% {
    width: 0; }
  to {
    width: 17%; } }

@-o-keyframes progress-1 {
  0% {
    width: 0; }
  to {
    width: 17%; } }

@keyframes progress-1 {
  0% {
    width: 0; }
  to {
    width: 17%; } }

.progress-1 {
  -webkit-animation-name: progress-1;
  -moz-animation-name: progress-1;
    -o-animation-name: progress-1;
       animation-name: progress-1;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }

@-webkit-keyframes progress-2 {
  0% {
    width: 17%; }
  to {
    width: 34%; } }

@-moz-keyframes progress-2 {
  0% {
    width: 17%; }
  to {
    width: 34%; } }

@-o-keyframes progress-2 {
  0% {
    width: 17%; }
  to {
    width: 34%; } }

@keyframes progress-2 {
  0% {
    width: 17%; }
  to {
    width: 34%; } }

.progress-2 {
  -webkit-animation-name: progress-2;
  -moz-animation-name: progress-2;
    -o-animation-name: progress-2;
       animation-name: progress-2;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }

@-webkit-keyframes proggress-3 {
  0% {
    width: 34%; }
  to {
    width: 51%; } }

@-moz-keyframes proggress-3 {
  0% {
    width: 34%; }
  to {
    width: 51%; } }

@-o-keyframes proggress-3 {
  0% {
    width: 34%; }
  to {
    width: 51%; } }

@keyframes proggress-3 {
  0% {
    width: 34%; }
  to {
    width: 51%; } }

.progress-3 {
  -webkit-animation-name: proggress-3;
  -moz-animation-name: proggress-3;
    -o-animation-name: proggress-3;
       animation-name: proggress-3;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }

@-webkit-keyframes proggress-4 {
  0% {
    width: 51%; }
  to {
    width: 67%; } }

@-moz-keyframes proggress-4 {
  0% {
    width: 51%; }
  to {
    width: 67%; } }

@-o-keyframes proggress-4 {
  0% {
    width: 51%; }
  to {
    width: 67%; } }

@keyframes proggress-4 {
  0% {
    width: 51%; }
  to {
    width: 67%; } }

.progress-4 {
  -webkit-animation-name: proggress-4;
  -moz-animation-name: proggress-4;
    -o-animation-name: proggress-4;
       animation-name: proggress-4;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }

@-webkit-keyframes proggress-5 {
  0% {
    width: 67%; }
  to {
    width: 84%; } }

@-moz-keyframes proggress-5 {
  0% {
    width: 67%; }
  to {
    width: 84%; } }

@-o-keyframes proggress-5 {
  0% {
    width: 67%; }
  to {
    width: 84%; } }

@keyframes proggress-5 {
  0% {
    width: 67%; }
  to {
    width: 84%; } }

.progress-5 {
  -webkit-animation-name: proggress-5;
  -moz-animation-name: proggress-5;
    -o-animation-name: proggress-5;
       animation-name: proggress-5;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }

@-webkit-keyframes proggress-6 {
  0% {
    width: 84%; }
  to {
    width: 100%; } }

@-moz-keyframes proggress-6 {
  0% {
    width: 84%; }
  to {
    width: 100%; } }

@-o-keyframes proggress-6 {
  0% {
    width: 84%; }
  to {
    width: 100%; } }

@keyframes proggress-6 {
  0% {
    width: 84%; }
  to {
    width: 100%; } }

.progress-6 {
  -webkit-animation-name: proggress-6;
  -moz-animation-name: proggress-6;
    -o-animation-name: proggress-6;
       animation-name: proggress-6;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 333ms;
     -moz-animation-delay: 333ms;
       -o-animation-delay: 333ms;
          animation-delay: 333ms; }